Repository Pololac/PowerMe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-pipeline, backend-pipeline

frontend-pipeline:
  stage: trigger
  trigger:
    include: .gitlab/ci/pipeline-frontend.yml
    strategy: depend

backend-pipeline:
  stage: trigger
  trigger:
    include: .gitlab/ci/pipeline-backend.yml
    strategy: depend

fix(ci): pb build frontend linked to promise-retry module (du to "RUN npm install -g npm@11 && npm ci" on the same line)
  README.md
  frontend/Dockerfile
Due: frontend-pipeline

chore: simplify engines and regenerate lock
  frontend/package-lock.json
  frontend/package.json
Due: frontend-pipeline

update(ci): change SonarSource on SonarCloud scan Frontend
  .github/workflows/quality-sync.yml
Due: none

chore(back): upgrade SB starter parent from 3.5.13 to 3.5.14
  backend/pom.xml
Due: backend-pipeline

chore: configure Dependabot for grouped weekly updates
  .github/dependabot.yml
Due: none

chore: regenerate package-lock.json after a dependabot PR (pb with transitive deps)
  frontend/package-lock.json
Due: frontend-pipeline

security: npm audit fix on frontend transitive deps
  frontend/package-lock.json
Due: frontend-pipeline

security: update spring-boot-starter-parent from 3.5.14 to 3.5.15
  backend/pom.xml
Due: backend-pipeline

Remove useless @Repository
  backend/src/main/java/com/powerme/repository/AddressRepository.java
  backend/src/main/java/com/powerme/repository/BookingRepository.java
  backend/src/main/java/com/powerme/repository/ChargingLocationRepository.java
  backend/src/main/java/com/powerme/repository/ChargingStationRepository.java
  backend/src/main/java/com/powerme/repository/RefreshTokenRepository.java
  backend/src/main/java/com/powerme/repository/UserRepository.java
  backend/src/main/java/com/powerme/service/mail/MailServiceImpl.java
Due: backend-pipeline

Cleaning
  backend/src/main/java/com/powerme/controller/AuthController.java
Due: backend-pipeline

security: coordinated in-range dependency updates (frontend)
  frontend/package-lock.json
Due: frontend-pipeline

security: coordinated in-range dependency updates (frontend) (#117)
  frontend/package-lock.json
Due: frontend-pipeline

chore(security): weekly updates 2026-07-24 — fix 2 high npm alerts (frontend)
  frontend/package-lock.json
Due: frontend-pipeline

Path conditions:
  frontend-pipeline: (any of: frontend/**/*, .gitlab/ci/pipeline-frontend.yml, .gitlab/ci/build-template.yml, .gitlab/ci/deploy-template.yml) or ((any of: frontend/**/*, .gitlab/ci/pipeline-frontend.yml) or (any of: frontend/**/*))
  backend-pipeline: (any of: backend/**/*, .gitlab/ci/pipeline-backend.yml, .gitlab/ci/build-template.yml, .gitlab/ci/deploy-template.yml) or ((any of: backend/**/*, .gitlab/ci/pipeline-backend.yml) or (any of: backend/**/*))
