Repository Pololac/PowerMe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-pipeline, backend-pipeline

.gitlab-ci.yml:

stages:
  - trigger
  - deploy

# Désactive temporaire des pipelines automatiques
workflow:
  rules:
    - when: never  # Désactive automatiquement

frontend-pipeline:
  stage: trigger
  rules:
    - changes: [ "frontend/**/*" ]
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend    # Attend la fin du pipeline enfant

backend-pipeline:
  stage: trigger
  rules:
    - changes: [ "backend/**/*" ]
  trigger:
    include: backend/.gitlab-ci.yml
    strategy: depend     # Attend la fin du pipeline enfant

deploy:   # Ne se déclenche que si les deux précédents jobs sont terminés
  stage: deploy
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  trigger:
    include: deploy/.gitlab-ci.yml
    strategy: depend      # Attend la fin du pipeline enfant

feat(map-back): Booking
  backend/src/main/java/com/powerme/controller/BookingController.java
  backend/src/main/java/com/powerme/dto/BookingCreateRequestDto.java
  backend/src/main/java/com/powerme/dto/BookingDto.java
  backend/src/main/java/com/powerme/dto/TimeSlotDto.java
  backend/src/main/java/com/powerme/entity/Booking.java
  backend/src/main/java/com/powerme/exception/BookingConflictException.java
  backend/src/main/java/com/powerme/mapper/BookingMapper.java
  backend/src/main/java/com/powerme/repository/BookingRepository.java
  backend/src/main/java/com/powerme/service/booking/BookingService.java
  backend/src/main/java/com/powerme/service/booking/BookingServiceImpl.java
  backend/src/main/java/com/powerme/service/booking/SlotService.java
  backend/src/main/java/com/powerme/service/chargingstation/ChargingStationAvailabilityServiceImpl.java
  backend/src/main/java/com/powerme/service/pricing/PricingService.java
  backend/src/main/java/com/powerme/service/pricing/PricingServiceImpl.java
Due: backend-pipeline

feat(map-back): add method on ChargingStationRepo
  backend/src/main/java/com/powerme/repository/ChargingStationRepository.java
Due: backend-pipeline

feat(BDD): add users 1 & 2
  backend/src/main/resources/db/seed/seed_dev_charging_data.sql
Due: backend-pipeline

chore(Exceptions): add BookingConflictException
  backend/src/main/java/com/powerme/exception/GlobalExceptionHandler.java
Due: backend-pipeline

feat(auth): small fix on UserPrincipal
  backend/src/main/java/com/powerme/service/security/UserPrincipal.java
Due: backend-pipeline

chore(gitignore): ignore runtime env.js file (frontend)
  .gitignore
Due: none

test(front): add Zone.js for Karma
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
Due: frontend-pipeline

test(front): login WIP
  frontend/src/app/app.spec.ts
  frontend/src/app/core/services/auth-service.ts
  frontend/src/app/features/auth/login-form/login-form.spec.ts
  frontend/src/app/features/auth/login/login.spec.ts
  frontend/src/app/features/auth/login/login.ts
  frontend/src/app/features/landing/landing.spec.ts
Due: frontend-pipeline

chore(gitignore): ignore coverage artifacts
  .gitignore
Due: none

test(front): AuthService, Login, LoginForm + config tests CI
  frontend/package.json
  frontend/src/app/core/services/auth-service.spec.ts
  frontend/src/app/features/auth/login-form/login-form.spec.ts
  frontend/src/app/features/auth/login/login.spec.ts
Due: frontend-pipeline

ci(back & front): make SonarCloud analysis non-blocking
  .github/workflows/quality.yml
Due: none

chore(Errors): greate a GlobalErrorHandler to avoid errors in console
  frontend/src/app/app.config.ts
  frontend/src/app/core/error/global-error-handler.ts
  frontend/src/main.ts
Due: frontend-pipeline

fix(back): small synthax bugs
  backend/src/main/java/com/powerme/service/security/AuthService.java
  backend/src/main/java/com/powerme/service/security/JwtAuthenticationFilter.java
Due: backend-pipeline

fix(map-back): delete Booking useless code (Helpers in Service)
  backend/src/main/java/com/powerme/controller/BookingController.java
  backend/src/main/java/com/powerme/entity/Booking.java
  backend/src/main/java/com/powerme/service/booking/BookingService.java
  backend/src/main/java/com/powerme/service/booking/BookingServiceImpl.java
Due: backend-pipeline

ci(back & front): limit Sonar Analysis to main branch
  .github/workflows/quality.yml
Due: none

fix(exceptions): change signature of BookingConflictException
  backend/src/main/java/com/powerme/exception/BookingConflictException.java
  backend/src/main/java/com/powerme/exception/GlobalExceptionHandler.java
Due: backend-pipeline

fix(BookingServiceImpl): protect logger from user inputs
  backend/src/main/java/com/powerme/service/booking/BookingServiceImpl.java
Due: backend-pipeline

fix(landing): small styling bugs
  frontend/src/app/features/landing/landing.html
  frontend/src/styles.css
Due: frontend-pipeline

fix(back): small cosmetic changes
  backend/src/main/java/com/powerme/dto/ChargingLocationDetailDto.java
  backend/src/main/java/com/powerme/service/security/AuthService.java
  backend/src/main/java/com/powerme/service/security/JwtAuthenticationFilter.java
Due: backend-pipeline

fix(booking-back): small cosmetic changes
  frontend/src/app/features/booking/payment-modal/payment-modal.ts
  frontend/src/app/features/booking/services/booking-pricing.service.ts
Due: frontend-pipeline

feat(front-loger & handler): add a logger used by global-error-handler.ts
  frontend/src/app/core/error/global-error-handler.ts
  frontend/src/app/core/error/logger-service.ts
  frontend/src/app/core/services/auth-service.ts
  frontend/src/app/features/booking/booking-flow.ts
  frontend/src/app/features/map/charging-location-modal/services/charging-location.store.ts
Due: frontend-pipeline

ci(docker): update Dockerfile front, DockerCompose et config Nginx Docker
  deploy/docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
Due: frontend-pipeline

fix(divers): small changes
  frontend/package-lock.json
  frontend/src/app/app.routes.ts
  frontend/src/app/features/auth/login-form/login-form.spec.ts
Due: frontend-pipeline

fix(chore): update gitignore with .env.*
  .gitignore
Due: none

chore(env.template): update file to mock .env.prod
  .env.template
Due: none

fix(ci): small changes on docker.compose and dockerfile front + add nginx.conf in frontend file
  deploy/docker-compose.yml
  deploy/nginx.conf
  frontend/Dockerfile
Due: frontend-pipeline

fix(ci): small changes on pipelines gitlab
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  deploy/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend-pipeline, backend-pipeline

Merge dev in main with fixes on booking, front logger and CI (#39)
  .env.template
  .gitignore
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/src/main/java/com/powerme/dto/ChargingLocationDetailDto.java
  backend/src/main/java/com/powerme/exception/BookingConflictException.java
  backend/src/main/java/com/powerme/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/powerme/service/booking/BookingServiceImpl.java
  backend/src/main/java/com/powerme/service/security/AuthService.java
  backend/src/main/java/com/powerme/service/security/JwtAuthenticationFilter.java
  deploy/.gitlab-ci.yml
  deploy/docker-compose.yml
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/src/app/app.routes.ts
  frontend/src/app/core/error/global-error-handler.ts
  frontend/src/app/core/error/logger-service.ts
  frontend/src/app/core/services/auth-service.ts
  frontend/src/app/features/auth/login-form/login-form.spec.ts
  frontend/src/app/features/booking/booking-flow.ts
  frontend/src/app/features/booking/payment-modal/payment-modal.ts
  frontend/src/app/features/booking/services/booking-pricing.service.ts
  frontend/src/app/features/landing/landing.html
  frontend/src/app/features/map/charging-location-modal/services/charging-location.store.ts
  frontend/src/styles.css
Due: frontend-pipeline, backend-pipeline

fix(ci): small changes on docker.compose and dockerfile front + add nginx.conf in frontend file
  deploy/nginx.conf
Due: none

fix(ci): pb sync linked to force-push in job
  .github/workflows/sync-to-gitlab.yml
Due: none

ci(docker): update Dockerfile front, DockerCompose et config Nginx Docker
  deploy/nginx.conf
Due: none

Fix(ci) : pb force-push on job (#40)
  .github/workflows/sync-to-gitlab.yml
Due: none

Enable force push for GitLab synchronization
  .github/workflows/sync-to-gitlab.yml
Due: none

fix(frontend): sync package-lock after dependency update
  frontend/package-lock.json
Due: frontend-pipeline

fix(ci): sync force-push true
  .github/workflows/sync-to-gitlab.yml
Due: none

Merge dev to main with fix to sync pb
  .github/workflows/sync-to-gitlab.yml
  frontend/package-lock.json
Due: frontend-pipeline

fix(ci): gitlab tests frontend & backend - change Node 22 for 20 LTS - prefered node-2O image + Chromium - add "privileged: true" so that Testcontainers use Docker
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend-pipeline, backend-pipeline

PR dev dans main : fix gitlab ci pb with tests (#45)
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend-pipeline, backend-pipeline

fix(ci): rights of testcontainers on Docker + no sandbox on Chrome
  backend/.gitlab-ci.yml
  frontend/package.json
Due: frontend-pipeline, backend-pipeline
