Repository Pololac/PowerMe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-pipeline, backend-pipeline

frontend-pipeline:
  stage: trigger
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend

backend-pipeline:
  stage: trigger
  trigger:
    include: backend/.gitlab-ci.yml
    strategy: depend

refacto(security): separate UserPrincipal (authentication) from User entity
  backend/src/main/java/com/powerme/controller/AccountController.java
  backend/src/main/java/com/powerme/entity/User.java
  backend/src/main/java/com/powerme/mapper/UserMapper.java
  backend/src/main/java/com/powerme/repository/RefreshTokenRepository.java
  backend/src/main/java/com/powerme/service/account/AccountService.java
  backend/src/main/java/com/powerme/service/account/AccountServiceImpl.java
  backend/src/main/java/com/powerme/service/security/AuthService.java
  backend/src/main/java/com/powerme/service/security/CustomUserDetailsService.java
  backend/src/main/java/com/powerme/service/security/JwtService.java
  backend/src/main/java/com/powerme/service/security/RefreshTokenService.java
  backend/src/main/java/com/powerme/service/security/SecurityConfig.java
  backend/src/main/java/com/powerme/service/security/UserPrincipal.java
  backend/src/test/java/com/powerme/unit/AccountServiceTest.java
Due: backend-pipeline

refacto(exceptions): translate messages in french
  backend/src/main/java/com/powerme/dto/ErrorResponseDto.java
  backend/src/main/java/com/powerme/dto/LoginCredentialsDto.java
  backend/src/main/java/com/powerme/dto/LoginRequestDto.java
  backend/src/main/java/com/powerme/dto/LoginResponseDto.java
  backend/src/main/java/com/powerme/dto/RefreshResponseDto.java
  backend/src/main/java/com/powerme/dto/ResetPasswordDto.java
  backend/src/main/java/com/powerme/dto/ResetPasswordRequestDto.java
  backend/src/main/java/com/powerme/dto/SimpleMessageDto.java
  backend/src/main/java/com/powerme/exception/BookingNotFoundException.java
  backend/src/main/java/com/powerme/exception/ChargingStationNotFoundException.java
  backend/src/main/java/com/powerme/exception/EmailDeliveryException.java
  backend/src/main/java/com/powerme/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/powerme/exception/InvalidCredentialsException.java
  backend/src/main/java/com/powerme/exception/UnauthorizedAccessException.java
  backend/src/main/java/com/powerme/exception/UnauthorizedException.java
  backend/src/main/java/com/powerme/exception/UserAlreadyExistsException.java
  backend/src/main/java/com/powerme/exception/UserNotFoundException.java
Due: backend-pipeline

refacto(Security): SecurityConfig & JwtAuthenticationFilter - rename method, modify authorizeHttpRequests & add an exceptionHandler - change a request in JwtFilter
  backend/src/main/java/com/powerme/service/security/JwtAuthenticationFilter.java
  backend/src/main/java/com/powerme/service/security/JwtService.java
  backend/src/main/java/com/powerme/service/security/SecurityConfig.java
Due: backend-pipeline

refacto(UserPrincipal): add a getRoles() method
  backend/src/main/java/com/powerme/service/security/UserPrincipal.java
Due: backend-pipeline

refacto(Auth & Account classes): record Dto, logger, french messages - replace Dto classes by records (immutables) - add logger in Services - translate messages in French
  backend/src/main/java/com/powerme/controller/AccountController.java
  backend/src/main/java/com/powerme/controller/AuthController.java
  backend/src/main/java/com/powerme/dto/UserDto.java
  backend/src/main/java/com/powerme/dto/UserRegisterDto.java
  backend/src/main/java/com/powerme/service/account/AccountServiceImpl.java
  backend/src/main/java/com/powerme/service/security/AuthService.java
  backend/src/main/java/com/powerme/service/security/CustomUserDetailsService.java
Due: backend-pipeline

test(registerIT): finalized
  backend/src/test/java/com/powerme/integration/controller/RegisterIT.java
Due: backend-pipeline

refacto(Sonar): sanitize inputs in logs & static variables
  backend/src/main/java/com/powerme/controller/AuthController.java
  backend/src/main/java/com/powerme/service/account/AccountServiceImpl.java
  backend/src/main/java/com/powerme/service/security/AuthService.java
  backend/src/main/java/com/powerme/utils/Sanitizer.java
Due: backend-pipeline

feat(landing): add assets
  frontend/src/assets/icons/facebook_icon.svg
  frontend/src/assets/icons/instagram_icon.svg
  frontend/src/assets/icons/powerme_long.svg
  frontend/src/assets/icons/powerme_short.svg
  frontend/src/assets/icons/x_icon.svg
  frontend/src/assets/images/accord_icon.png
  frontend/src/assets/images/avatar.png
  frontend/src/assets/images/hero.jpg
  frontend/src/assets/images/mockup_desktop 1.png
  frontend/src/assets/images/mockup_portable2 1.png
  frontend/src/assets/images/position_icon.png
  frontend/src/assets/images/tirelire_icon.png
  frontend/src/styles.css
Due: frontend-pipeline

fix(ci): split SonarCloud frontend/backend
  .github/workflows/quality.yml
Due: none

fix(entities): change @NotNull for @NotBlank & translate messages in english
  backend/src/main/java/com/powerme/controller/AuthController.java
  backend/src/main/java/com/powerme/entity/Address.java
  backend/src/main/java/com/powerme/entity/Booking.java
  backend/src/main/java/com/powerme/entity/ChargingLocation.java
  backend/src/main/java/com/powerme/entity/ChargingStation.java
  backend/src/main/java/com/powerme/entity/Photo.java
  backend/src/main/java/com/powerme/entity/RefreshToken.java
  backend/src/main/java/com/powerme/entity/UnavailabilityPeriod.java
  backend/src/main/java/com/powerme/entity/User.java
  backend/src/main/java/com/powerme/entity/UserActivation.java
Due: backend-pipeline

test(registerIT): work almost done - test endpoint "activate" - test endpoint "reset" - test endpoint "change": WIP
  backend/src/main/java/com/powerme/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/powerme/service/security/JwtService.java
  backend/src/test/java/com/powerme/config/MailServiceMockConfig.java
  backend/src/test/java/com/powerme/integration/controller/RegisterIT.java
  backend/src/test/resources/application-test.yml
Due: backend-pipeline

fix(ci-front): modify run test command
  .github/workflows/quality.yml
Due: none

Path conditions:
  frontend-pipeline: any of: frontend/**/*
  backend-pipeline: any of: backend/**/*
