Repository Pololac/PowerMe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-test, backend-test, sonarcloud-frontend, sonarcloud-backend, build-frontend, build-backend, deploy-prod

frontend-test:
  cache:
    key:
      files:
      - frontend/package-lock.json
      prefix: npm-$CI_COMMIT_REF_SLUG
    paths:
    - .npm
  stage: test
  image: trion/ng-cli-karma:latest
  before_script:
  - cd frontend
  - npm ci --prefer-offline
  script:
  - npm run test:ci
  coverage: /Statements\s*:\s*(\d+\.?\d*)%/
  artifacts:
  ...

backend-test:
  cache:
  - key:
      files:
      - backend/pom.xml
      prefix: maven-$CI_COMMIT_REF_SLUG
    paths:
    - .m2/repository
  - key: sonar-$CI_COMMIT_REF_SLUG
    paths:
    - .sonar/cache
  stage: test
  image: maven:${MAVEN_VERSION}-eclipse-temurin-${JAVA_VERSION}-alpine
  services:
  - name: docker:24-dind
  ...

sonarcloud-frontend:
  stage: quality
  image: sonarsource/sonar-scanner-cli:latest
  variables:
    SONAR_USER_HOME: ${CI_PROJECT_DIR}/.sonar
    GIT_DEPTH: '0'
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  script:
  - cd frontend
  - sonar-scanner -Dsonar.token=${SONAR_TOKEN}
  needs:
  - frontend-test
  allow_failure: true

sonarcloud-backend:
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
    - backend/.m2/repository
  stage: quality
  image: maven:${MAVEN_VERSION}-eclipse-temurin-${JAVA_VERSION}-alpine
  variables:
    SONAR_USER_HOME: ${CI_PROJECT_DIR}/.sonar
    GIT_DEPTH: '0'
  script:
  - cd backend
  ...

build-frontend:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - echo "üîê Connexion au registry GitLab..."
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "üèóÔ∏è Build image Docker Frontend..."
  - cd frontend
  ...

build-backend:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - echo "üîê Connexion au registry GitLab..."
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "üèóÔ∏è Build image Docker Backend..."
  - cd backend
  ...

deploy-prod:
  stage: deploy
  image: alpine:latest
  needs:
  - build-frontend
  - build-backend
  before_script:
  - echo "üîß Installation des d√©pendances..."
  - apk add --no-cache openssh-client
  - echo "üîê Configuration SSH..."
  - eval $(ssh-agent -s)
  - chmod 400 "$SSH_PRIVATE_KEY"
  - ssh-add "$SSH_PRIVATE_KEY"
  ...

ci(gitlab): separate front, back and deploy CI using triggers
  .gitlab-ci.yml
  Pipeline_CICD.md
  backend/.gitlab-ci.yml
  deploy/.gitlab-ci.yml
  deploy/docker-compose.yml
  deploy/nginx.conf
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
Due: frontend-test, backend-test, sonarcloud-frontend, sonarcloud-backend, build-frontend, build-backend, deploy-prod

ci(gitlab): fix directory pb
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend-test, backend-test, sonarcloud-frontend, sonarcloud-backend, build-frontend, build-backend, deploy-prod

ci(gitlab): separate unit-tests and integration-tests in backend
  backend/.gitlab-ci.yml
Due: backend-test, sonarcloud-backend, build-backend, deploy-prod

ci(gitlab): small synthax changes
  frontend/.gitlab-ci.yml
  frontend/sonar-project.properties
Due: frontend-test, sonarcloud-frontend, build-frontend, deploy-prod

ci(gitlab): modify FailSafe & Jacoco config in pom.xml
  backend/pom.xml
Due: backend-test, sonarcloud-backend, build-backend, deploy-prod

ci(gitlab): fix bugs with backend tests
  backend/.gitlab-ci.yml
  backend/src/test/java/com/powerme/PowermeApplicationIT.java
Due: backend-test, sonarcloud-backend, build-backend, deploy-prod

ci(gitlab): add pipeline in GitHub to trigger MR in GL on main when PR on main in GH
  .github/workflows/gitlab-pr.yml
Due: none

ci(gitlab): rules - launch sonar only on main - launch front/back jobs based on files changes
  .gitlab-ci.yml
Due: deploy-prod

ci(sync): fix sync bug with "force_push:true"
  .github/workflows/sync-to-gitlab.yml
Due: none

ci(gitlab): fix sonar3
  .gitlab-ci.yml
Due: deploy-prod

chore(tests): improve config files
  backend/src/test/java/com/powerme/PowermeApplicationTests.java
  backend/src/test/java/com/powerme/config/AbstractIntegrationTest.java
Due: backend-test, sonarcloud-backend, build-backend, deploy-prod

ci(gitlab): fix sonar3b
  backend/pom.xml
Due: backend-test, sonarcloud-backend, build-backend, deploy-prod

ci(sync): fix sync bug with "force:true" and v2.1.0
  .github/workflows/sync-to-gitlab.yml
Due: none

ci(gitlab): fix sonar
  .gitlab-ci.yml
  backend/pom.xml
Due: backend-test, sonarcloud-backend, build-backend, deploy-prod

ci(sync): fix sync bug with "force:true" and GITHUB_TOKEN
  .github/workflows/sync-to-gitlab.yml
Due: none

ci(gitlab): fix global rules synthax
  .gitlab-ci.yml
Due: deploy-prod

chore(application-dev.yml): update DB_USER & DB_PASS
  backend/src/main/resources/application-dev.yml
Due: backend-test, sonarcloud-backend, build-backend, deploy-prod

ci(gitlab): fix sonar2
  backend/pom.xml
Due: backend-test, sonarcloud-backend, build-backend, deploy-prod

Path conditions:
  frontend-test: any of: frontend/**/*
  backend-test: any of: backend/**/*
  sonarcloud-frontend: any of: frontend/**/*
  sonarcloud-backend: any of: backend/**/*
  build-frontend: any of: frontend/**/*
  build-backend: any of: backend/**/*
  deploy-prod: any of: frontend/**/*, backend/**/*, docker-compose.yml, .env, .gitlab-ci.yml
