Repository Pololac/PowerMe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-pipeline, backend-pipeline

frontend-pipeline:
  stage: trigger
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend

backend-pipeline:
  stage: trigger
  trigger:
    include: backend/.gitlab-ci.yml
    strategy: depend

fix(ci): pb "--no-sandbox" for Chrome Not supported by Angular CLI -> create karma.conf.js (gère Chrome et no-sandbox) and modify pipelines
  .github/workflows/quality.yml
  frontend/angular.json
  frontend/karma.conf.js
  frontend/package.json
Due: frontend-pipeline

fix(ci): pb with "default" cd -> pom.xml path put in the command
  backend/.gitlab-ci.yml
Due: backend-pipeline

fix(ci): same pb with default "cd" -> deleted
  backend/.gitlab-ci.yml
Due: backend-pipeline

fix(ci): deploy is now a template used by frontend and backend pipelines
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  deploy/deploy-template-gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend-pipeline, backend-pipeline

fix(ci): build pb linked to context (".")
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend-pipeline, backend-pipeline

fix(ci): build args -> oneline
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend-pipeline, backend-pipeline

fix(front): route lazy on MapPage -> bundle allégé
  frontend/angular.json
  frontend/src/app/app.routes.ts
Due: frontend-pipeline

fix(ci): fix path pb in dockerfile frontend
  frontend/Dockerfile
Due: frontend-pipeline

fix(ci): pb private key in deploy stage
  deploy/deploy-template-gitlab-ci.yml
Due: none

fix(ci): deploy with SSH pb - change alpine image for debian
  backend/.gitlab-ci.yml
  deploy/deploy-template-gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend-pipeline, backend-pipeline

fix(ci): restrict permissions on SSH private key
  backend/.gitlab-ci.yml
  deploy/deploy-template-gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend-pipeline, backend-pipeline

fix(ci): pb private key (debug)
  backend/.gitlab-ci.yml
  deploy/deploy-template-gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend-pipeline, backend-pipeline

fix(ci): pb SSH private key (missing ligne at the end)
  backend/.gitlab-ci.yml
  deploy/deploy-template-gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend-pipeline, backend-pipeline

fix(ci): pb registry variables -> declare in CICD variables
  backend/.gitlab-ci.yml
  deploy/deploy-template-gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend-pipeline, backend-pipeline

fix(ci): pb registry variables -> pb with 'ENDSSH' in template
  backend/.gitlab-ci.yml
  deploy/deploy-template-gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend-pipeline, backend-pipeline

ci(gitlab): refacto - template for build - pipelines front & back put in file .gitlab/ci/ - rules on .gitlab-ci.yml
  .github/workflows_archive/ci-cd-old.yml.disabled
  .github/workflows_archive/ci.yml.disabled
  .github/workflows_archive/deploy.yml.disabled
  .gitlab-ci.yml
  .gitlab/ci/build-template.yml
  .gitlab/ci/deploy-template.yml
  .gitlab/ci/pipeline-backend.yml
  .gitlab/ci/pipeline-frontend.yml
Due: none

fix(ci): change server port to 8080 to simply Docker
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
Due: backend-pipeline

fix(ci-back): postGis & Health Check mail - change PostgisPG10Dialect for PostgreSQLDialect -disable mail health check in production
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
Due: backend-pipeline

fix(ci): update nginx.conf
  .env.template
  deploy/nginx.conf
  frontend/nginx.conf
Due: frontend-pipeline

fix(ci): add Docker Profiles in pipeline Gitlab to launch front or back containers
  .gitlab-ci.yml
  .gitlab/ci/deploy-template.yml
  .gitlab/ci/pipeline-backend.yml
  .gitlab/ci/pipeline-frontend.yml
Due: none

fix(ci): Docker Compose - deep fixes - add nginx container
  deploy/docker-compose.yml
Due: none

fix(ci): bug deploy frontend - pd depends on nginx
  .gitlab/ci/pipeline-frontend.yml
  deploy/docker-compose.yml
Due: none

fix(ci): pb nginx
  deploy/docker-compose.yml
  deploy/nginx.conf
  frontend/nginx.conf
  frontend/src/environments/environment.development.ts
Due: frontend-pipeline

fix(ci): support ipv6
  .gitlab/ci/pipeline-backend.yml
  .gitlab/ci/pipeline-frontend.yml
  deploy/docker-compose.yml
  deploy/nginx.conf
Due: none

fix(front): pb post deploy - images webp -> nginx frontend - /map -> suppression import "eager" dans app.routes.ts
  frontend/nginx.conf
  frontend/src/app/app.routes.ts
Due: frontend-pipeline

fix(ci): debug images webp & nav map
  deploy/nginx.conf
  frontend/Dockerfile
  frontend/nginx.conf
Due: frontend-pipeline

fix(ci): debug images webp - nginx front : images & CSS/JS avant Angular
  frontend/nginx.conf
Due: frontend-pipeline

fix(front): pb key MapTiler not commited - change gitignore - change key with HTTP limitations
  .gitignore
  frontend/src/app/features/map/services/geocoding-service.ts
  frontend/src/assets/env.js
Due: frontend-pipeline

fix(deploy): change nginx Docker and frontend config (+bug sur Docker)
  deploy/nginx.conf
  frontend/nginx.conf
Due: frontend-pipeline

fix(front-auth): replace "location.back()" by "redirectUrl"
  frontend/src/app/core/services/auth-service.ts
  frontend/src/app/layout/auth-layout/auth-layout.ts
Due: frontend-pipeline

fix(front-mobile): - fix navbar - fix user-menu-trigger.html - fix auth forms - fix search-bar in map
  frontend/src/app/features/auth/login-form/login-form.html
  frontend/src/app/features/auth/login/login.html
  frontend/src/app/features/auth/register-form/register-form.html
  frontend/src/app/features/auth/register/register.html
  frontend/src/app/features/map/map-page/map-page.html
  frontend/src/app/features/map/search-location/search-location.html
  frontend/src/app/layout/auth-layout/auth-layout.html
  frontend/src/app/shared/components/navbar/navbar.html
  frontend/src/app/shared/components/user-menu/user-menu-trigger/user-menu-trigger.html
  frontend/src/styles.css
Due: frontend-pipeline

feat(db): configure application.yml to inject datas with flyway on start
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/db/migration/V1__create_tables.sql
  backend/src/main/resources/db/seed/V999__seed_demo_data.sql
Due: backend-pipeline

fix(front): pb search-location
  frontend/src/app/features/map/map-page/map-page.html
Due: frontend-pipeline

feat(db): add classpath seed to pom.xml
  backend/pom.xml
Due: backend-pipeline

fix(prod): auth pb (linked to nginx reverse-proxy)
  backend/src/main/resources/application-prod.yml
  deploy/nginx.conf
Due: backend-pipeline

fix(front-mobile): fix charging-station-modal opening
  frontend/src/app/features/map/map-page/map-page.html
  frontend/src/styles.css
Due: frontend-pipeline

fix(front-mobile): fix calendar CSS
  frontend/src/app/features/map/charging-station-modal/availability-calendar/availability-calendar.css
  frontend/src/app/features/map/charging-station-modal/availability-calendar/availability-calendar.html
  frontend/src/app/features/map/charging-station-modal/charging-station-modal.html
Due: frontend-pipeline

fix(prod): authentication problem - delete AuthenticationProvider and replace by userDetailsService(userService) - add url "power-app" in corsConfigurationSource
  backend/src/main/java/com/powerme/service/security/SecurityConfig.java
Due: backend-pipeline

fix(front-mobile): fix iOS scroll
  frontend/src/app/features/map/charging-station-modal/availability-calendar/availability-calendar.html
  frontend/src/styles.css
Due: frontend-pipeline

fix(booking-front): form login pb - delete booking-intent.service.ts - add authentication verification on "onConfirmPayment"
  frontend/src/app/features/booking/booking-flow.ts
  frontend/src/app/features/booking/services/booking-intent.service.spec.ts
  frontend/src/app/features/booking/services/booking-intent.service.ts
  frontend/src/app/features/map/map-page/map-page.ts
Due: frontend-pipeline

Path conditions:
  frontend-pipeline: any of: frontend/**/*
  backend-pipeline: any of: backend/**/*
