Repository Pololac/PowerMe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-test, backend-test, sonarcloud-frontend, sonarcloud-backend, build-frontend, build-backend, deploy-prod

Path conditions:
  frontend-test: any of: frontend/**/*
  backend-test: any of: backend/**/*
  sonarcloud-frontend: any of: frontend/**/*
  sonarcloud-backend: any of: backend/**/*
  build-frontend: any of: frontend/**/*
  build-backend: any of: backend/**/*
  deploy-prod: any of: frontend/**/*, backend/**/*, docker-compose.yml, .env, .gitlab-ci.yml

ci(sync): fix sync bug with "force:true" and GITHUB_TOKEN
  .github/workflows/sync-to-gitlab.yml
Due: none

ci(gitlab): fix sonar2
  backend/pom.xml
Due: backend-test, sonarcloud-backend, build-backend, deploy-prod

ci(gitlab): modify FailSafe & Jacoco config in pom.xml
  backend/pom.xml
Due: backend-test, sonarcloud-backend, build-backend, deploy-prod

ci(gitlab): test
  backend/src/main/java/com/powerme/repository/RefreshTokenRepository.java
Due: backend-test, sonarcloud-backend, build-backend, deploy-prod

Revert "ci(gitlab): test"
  backend/src/main/java/com/powerme/repository/RefreshTokenRepository.java
Due: backend-test, sonarcloud-backend, build-backend, deploy-prod

ci(gitlab): fix PR pb
  .github/workflows/gitlab-pr.yml
Due: none

ci(gitlab): fix PR pb2
  .github/workflows/gitlab-pr.yml
Due: none

ci(gitlab): fix PR pb3
  .github/workflows/gitlab-pr.yml
Due: none

ci(gitlab): fix PR pb4
  .github/workflows/gitlab-pr.yml
Due: none

ci(refacto): linked to Sonar pb with PR on gitHub - pipeline quality Sonar on GitHub triggered by PR/push on "main" - pipelines tests/build/deploy on GitLab
  .github/workflows/gitlab-pr.yml
  .github/workflows/quality.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  frontend/sonar-project.properties
Due: frontend-test, backend-test, sonarcloud-frontend, sonarcloud-backend, build-frontend, build-backend, deploy-prod

ci(quality): fix bugs sonar frontend & backend
  .github/workflows/quality.yml
Due: none

ci(rules): test
  README.md
Due: none

ci(rules): test2
  README.md
Due: none

ci(rules): test3
  README.md
Due: none

ci(quality): fix bugs
  .github/workflows/quality.yml
  backend/pom.xml
  frontend/sonar-project.properties
Due: frontend-test, backend-test, sonarcloud-frontend, sonarcloud-backend, build-frontend, build-backend, deploy-prod

ci(gitlab): désactivation temporaire de la pipeline principale
  .gitlab-ci.yml
Due: deploy-prod

fix(entities): change @NotNull for @NotBlank & translate messages in english
  backend/src/main/java/com/powerme/controller/AuthController.java
  backend/src/main/java/com/powerme/entity/Address.java
  backend/src/main/java/com/powerme/entity/Booking.java
  backend/src/main/java/com/powerme/entity/ChargingLocation.java
  backend/src/main/java/com/powerme/entity/ChargingStation.java
  backend/src/main/java/com/powerme/entity/Photo.java
  backend/src/main/java/com/powerme/entity/RefreshToken.java
  backend/src/main/java/com/powerme/entity/UnavailabilityPeriod.java
  backend/src/main/java/com/powerme/entity/User.java
  backend/src/main/java/com/powerme/entity/UserActivation.java
Due: backend-test, sonarcloud-backend, build-backend, deploy-prod

test(registerIT): work almost done - test endpoint "activate" - test endpoint "reset" - test endpoint "change": WIP
  backend/src/main/java/com/powerme/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/powerme/service/security/JwtService.java
  backend/src/test/java/com/powerme/config/MailServiceMockConfig.java
  backend/src/test/java/com/powerme/integration/controller/RegisterIT.java
  backend/src/test/resources/application-test.yml
Due: backend-test, sonarcloud-backend, build-backend, deploy-prod
