Repository Pololac/PowerMe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-pipeline, backend-pipeline

frontend-pipeline:
  stage: trigger
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend

backend-pipeline:
  stage: trigger
  trigger:
    include: backend/.gitlab-ci.yml
    strategy: depend

feat(map-back): create ChargingLocationController
  backend/src/main/java/com/powerme/controller/ChargingLocationController.java
Due: backend-pipeline

chore(security): add charging-locations endpoint
  backend/src/main/java/com/powerme/service/security/SecurityConfig.java
Due: backend-pipeline

feat(auth): small change on UserMapper
  backend/src/main/java/com/powerme/mapper/UserMapper.java
Due: backend-pipeline

chore(styles): change h4 & subtitle2
  frontend/src/styles.css
Due: frontend-pipeline

feat(landing): small changes Hero img and footer (RS icons)
  frontend/src/app/shared/components/footer/footer.html
  frontend/src/assets/images/landing/hero-desktop.jpg
Due: frontend-pipeline

feat(map-front): ChargingLocationService & CLMapDto
  frontend/src/app/core/models/dto/charging-location-map.dto.ts
  frontend/src/app/core/services/charging-location.spec.ts
  frontend/src/app/core/services/charging-location.ts
  frontend/src/app/features/map/map-view/map-view.ts
Due: frontend-pipeline

feat(map-front): ChargingLocationModal
  frontend/src/app/core/models/dto/charging-location-detail.dto.ts
  frontend/src/app/core/models/dto/charging-station-summary.dto.ts
  frontend/src/app/features/map/charging-location-modal/charging-location-modal.css
  frontend/src/app/features/map/charging-location-modal/charging-location-modal.html
  frontend/src/app/features/map/charging-location-modal/charging-location-modal.spec.ts
  frontend/src/app/features/map/charging-location-modal/charging-location-modal.ts
Due: frontend-pipeline

chore(front): IconComponent
  frontend/src/app/shared/components/icon/icon.css
  frontend/src/app/shared/components/icon/icon.html
  frontend/src/app/shared/components/icon/icon.spec.ts
  frontend/src/app/shared/components/icon/icon.ts
Due: frontend-pipeline

feat(map-front): const Enums, plug icons, CL images
  frontend/src/app/shared/ui/ui-mapping/socket-type-icon.ts
  frontend/src/app/shared/ui/ui-mapping/socket-type-label.ts
  frontend/src/app/shared/ui/ui-mapping/station-status-ui.ts
  frontend/src/assets/icons/plug-ccs.svg
  frontend/src/assets/icons/plug-chademo.svg
  frontend/src/assets/icons/plug-tesla.svg
  frontend/src/assets/icons/plug-type1.svg
  frontend/src/assets/icons/plug-type2.svg
  frontend/src/assets/images/location-desktop.jpg
  frontend/src/assets/images/location-desktop.webp
  frontend/src/assets/images/location-mobile.webp
Due: frontend-pipeline

feat(map-front): station enums
  frontend/src/app/core/models/enums/charging-power.enum.ts
  frontend/src/app/core/models/enums/socket-type.enum.ts
  frontend/src/app/core/models/enums/station-status.enum.ts
Due: frontend-pipeline

feat(map-front): update svg icons
  frontend/src/app/shared/ui/icons/chevron-down.svg
  frontend/src/app/shared/ui/icons/chevron-left.svg
  frontend/src/app/shared/ui/icons/chevron-right.svg
  frontend/src/app/shared/ui/icons/chevron-up.svg
  frontend/src/app/shared/ui/icons/close.svg
  frontend/src/assets/icons/avatar.svg
  frontend/src/assets/icons/bill.svg
  frontend/src/assets/icons/chevron-down.svg
  frontend/src/assets/icons/dashboard.svg
  frontend/src/assets/icons/filter.svg
  frontend/src/assets/icons/infos-fill.svg
  frontend/src/assets/icons/search.svg
  frontend/src/assets/icons/settings.svg
Due: frontend-pipeline

feat(map-front): ChargingStationModal
  frontend/src/app/features/map/charging-station-modal/charging-station-modal.css
  frontend/src/app/features/map/charging-station-modal/charging-station-modal.html
  frontend/src/app/features/map/charging-station-modal/charging-station-modal.spec.ts
  frontend/src/app/features/map/charging-station-modal/charging-station-modal.ts
  frontend/src/app/features/map/map-page/map-page.html
  frontend/src/app/features/map/map-page/map-page.ts
Due: frontend-pipeline

feat(map-front): refacto charging-location.service en .store et .api
  frontend/src/app/core/services/charging-location.spec.ts
  frontend/src/app/core/services/charging-location/charging-location.api.ts
  frontend/src/app/core/services/charging-location/charging-location.store.ts
  frontend/src/app/features/map/charging-location-modal/charging-location-modal.ts
  frontend/src/app/features/map/map-view/map-view.ts
Due: frontend-pipeline

feat(map-back): CRUD ChargingStation (+ refacto ChargingLocationService : move computeStatus to ChargingStationService)
  backend/src/main/java/com/powerme/controller/ChargingLocationController.java
  backend/src/main/java/com/powerme/controller/ChargingStationController.java
  backend/src/main/java/com/powerme/dto/ChargingLocationSummaryDto.java
  backend/src/main/java/com/powerme/dto/ChargingStationDetailDto.java
  backend/src/main/java/com/powerme/dto/ChargingStationUpsertDto.java
  backend/src/main/java/com/powerme/mapper/ChargingLocationMapper.java
  backend/src/main/java/com/powerme/mapper/ChargingStationMapper.java
  backend/src/main/java/com/powerme/service/charginglocation/ChargingLocationService.java
  backend/src/main/java/com/powerme/service/charginglocation/ChargingLocationServiceImpl.java
  backend/src/main/java/com/powerme/service/chargingstation/ChargingStationService.java
  backend/src/main/java/com/powerme/service/chargingstation/ChargingStationServiceImpl.java
Due: backend-pipeline

chore(exceptions): update ChargingStationNotFoundException & ChargingLocationNotFoundException
  backend/src/main/java/com/powerme/exception/ChargingLocationNotFoundException.java
  backend/src/main/java/com/powerme/exception/ChargingStationNotFoundException.java
Due: backend-pipeline

fix(security): update Angular to 20.3.16 to resolve XSS vulnerability"
  frontend/package-lock.json
Due: frontend-pipeline

refacto(archi): move AuthService & ChargingLocationServices
  frontend/src/app/core/guards/auth-guard.ts
  frontend/src/app/core/interceptors/auth-interceptor.ts
  frontend/src/app/core/services/auth-service.spec.ts
  frontend/src/app/core/services/auth-service.ts
  frontend/src/app/features/auth/login/login.ts
  frontend/src/app/features/auth/register/register.ts
  frontend/src/app/features/auth/reset-password-confirm/reset-password-confirm.ts
  frontend/src/app/features/auth/reset-password-request/reset-password-request.ts
  frontend/src/app/features/charging-stations/charging-stations.css
  frontend/src/app/features/charging-stations/charging-stations.html
  frontend/src/app/features/charging-stations/charging-stations.spec.ts
  frontend/src/app/features/charging-stations/charging-stations.ts
  frontend/src/app/features/map/charging-location-modal/services/charging-location.api.ts
  frontend/src/app/features/map/charging-location-modal/services/charging-location.store.ts
  frontend/src/app/shared/components/navbar/navbar.ts
  frontend/src/app/shared/components/user-menu/user-menu-dropdown/user-menu-dropdown.ts
  frontend/src/app/shared/components/user-menu/user-menu.ts
Due: frontend-pipeline

fix(map-front): prepare ChargingStationModal
  frontend/src/app/features/map/charging-location-modal/charging-location-modal.html
  frontend/src/app/features/map/charging-location-modal/charging-location-modal.ts
  frontend/src/app/features/map/map-page/map-page.html
  frontend/src/app/features/map/map-view/map-view.ts
Due: frontend-pipeline

feat(map-back): ChargingStationAvailability (Slots)
  backend/src/main/java/com/powerme/controller/ChargingStationAvailabilityController.java
  backend/src/main/java/com/powerme/dto/ChargingStationAvailabilityDto.java
  backend/src/main/java/com/powerme/dto/TimeSlotDto.java
  backend/src/main/java/com/powerme/repository/BookingRepository.java
  backend/src/main/java/com/powerme/service/chargingstation/ChargingStationAvailabilityService.java
  backend/src/main/java/com/powerme/service/chargingstation/ChargingStationAvailabilityServiceImpl.java
  backend/src/main/java/com/powerme/service/security/SecurityConfig.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/db/seed/seed_dev_charging_data.sql
Due: backend-pipeline

feat(map-front): install ngxsmk-datepicker
  frontend/package-lock.json
  frontend/package.json
Due: frontend-pipeline

feat(map-front): ChargingStation Dtos & services
  frontend/src/app/core/models/dto/charging-station-availability.dto.ts
  frontend/src/app/core/models/dto/charging-station-detail.dto.ts
  frontend/src/app/core/models/requests/charging-station.request.ts
  frontend/src/app/features/map/charging-station-modal/services/charging-station.api.ts
  frontend/src/app/features/map/charging-station-modal/services/charging-station.store.ts
Due: frontend-pipeline

feat(map-front): ChargingStation modale, calendar & slots
  frontend/src/app/features/map/charging-station-modal/availability-calendar/availability-calendar.css
  frontend/src/app/features/map/charging-station-modal/availability-calendar/availability-calendar.html
  frontend/src/app/features/map/charging-station-modal/availability-calendar/availability-calendar.spec.ts
  frontend/src/app/features/map/charging-station-modal/availability-calendar/availability-calendar.ts
  frontend/src/app/features/map/charging-station-modal/availability-slots/availability-slots.css
  frontend/src/app/features/map/charging-station-modal/availability-slots/availability-slots.html
  frontend/src/app/features/map/charging-station-modal/availability-slots/availability-slots.spec.ts
  frontend/src/app/features/map/charging-station-modal/availability-slots/availability-slots.ts
  frontend/src/app/features/map/charging-station-modal/charging-station-modal.html
  frontend/src/app/features/map/charging-station-modal/charging-station-modal.ts
Due: frontend-pipeline

feat(map-front): add arrow-right icon
  frontend/src/app/shared/ui/icons/arrow-right.svg
Due: frontend-pipeline

chore(styles): change titles
  frontend/src/styles.css
Due: frontend-pipeline

chore(gitignore): Stop tracking .env.dev – now ignored
  .gitignore
Due: none

feat(map-front): Booking & Payment - add BookingFlow - add BookingPricingService - add PaymentModal - mock PaymentService
  frontend/src/app/core/models/dto/booking-pricing-dto.ts
  frontend/src/app/core/models/dto/booking-summary.dto.ts
  frontend/src/app/core/models/dto/payment-response.dto.ts
  frontend/src/app/core/models/requests/booking-create.request.ts
  frontend/src/app/core/models/requests/payment.request.ts
  frontend/src/app/core/services/payment.service.spec.ts
  frontend/src/app/core/services/payment.service.ts
  frontend/src/app/features/booking/booking-flow.css
  frontend/src/app/features/booking/booking-flow.html
  frontend/src/app/features/booking/booking-flow.spec.ts
  frontend/src/app/features/booking/booking-flow.ts
  frontend/src/app/features/booking/payment-modal/payment-modal.css
  frontend/src/app/features/booking/payment-modal/payment-modal.html
  frontend/src/app/features/booking/payment-modal/payment-modal.spec.ts
  frontend/src/app/features/booking/payment-modal/payment-modal.ts
  frontend/src/app/features/booking/services/booking-pricing.service.spec.ts
  frontend/src/app/features/booking/services/booking-pricing.service.ts
  frontend/src/app/features/map/charging-location-modal/charging-location-modal.html
  frontend/src/app/features/map/charging-location-modal/charging-location-modal.ts
  frontend/src/app/features/map/charging-station-modal/charging-station-modal.html
  frontend/src/app/features/map/charging-station-modal/charging-station-modal.ts
  frontend/src/app/features/map/charging-station-modal/services/charging-station.store.ts
Due: frontend-pipeline

feat(map-front): block StationModal for user notLogged - add BookingIntentService: us to remember the StationId chosen by the user before redirection to Login - change "isLogged" for "isAuthenticated"
  frontend/src/app/app.routes.ts
  frontend/src/app/core/guards/auth-guard.ts
  frontend/src/app/core/services/auth-service.ts
  frontend/src/app/features/booking/services/booking-intent.service.spec.ts
  frontend/src/app/features/booking/services/booking-intent.service.ts
  frontend/src/app/features/map/map-page/map-page.html
  frontend/src/app/features/map/map-page/map-page.ts
  frontend/src/app/features/map/services/map-service.ts
  frontend/src/app/shared/components/navbar/navbar.html
  frontend/src/app/shared/components/navbar/navbar.ts
Due: frontend-pipeline

fix(map-front): add a signal MapReady to MapView to ensure that map exists before executing reactive effects
  frontend/src/app/features/map/map-view/map-view.ts
Due: frontend-pipeline

chore(styles): update <p>, font-family & card
  frontend/src/styles.css
Due: frontend-pipeline

chore(bdd): add PasswordHashGenerator to get hash passwords from random passwords to register users in DB
  backend/src/main/java/com/powerme/service/security/PasswordHashGenerator.java
  backend/src/main/resources/db/seed/seed_dev_charging_data.sql
Due: backend-pipeline

chore(applications.yml): update PostgisDialect to the last version
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
Due: backend-pipeline

chore(env & DockerCompose): DB config
  .env.template
  deploy/docker-compose.yml
Due: none

chore(MapTilerKey): delete from environments.ts and passed through runtime
  .env.template
  .gitignore
  frontend/src/app/core/config/runtime-env.ts
  frontend/src/app/features/map/map-view/map-view.ts
  frontend/src/app/features/map/search-location/search-location.ts
  frontend/src/app/features/map/services/geocoding-service.ts
  frontend/src/app/features/map/services/map-service.ts
  frontend/src/environments/environment.development.ts
  frontend/src/environments/environment.template.ts
  frontend/src/environments/environment.ts
  frontend/src/index.html
Due: frontend-pipeline

fix(auth): fix pb when login on /map that navigate to root page
  frontend/src/app/features/auth/login/login.ts
  frontend/src/app/shared/components/navbar/navbar.html
  frontend/src/app/shared/components/navbar/navbar.ts
Due: frontend-pipeline

chore(pom): update on groupId, name and properties (UTF-8)
  backend/pom.xml
  backend/src/main/java/com/powerme/PowermeApplication.java
Due: backend-pipeline

chore(mainClass): shorten name for PowerMeApp
  backend/src/main/java/com/powerme/PowermeApp.java
Due: backend-pipeline

chore(navbar): small fixes on imports synthax
  frontend/src/app/shared/components/navbar/navbar.ts
Due: frontend-pipeline

feat(map-front): finalize Booking & Payment
  frontend/src/app/core/models/dto/booking-detail.dto.ts
  frontend/src/app/core/models/dto/booking-pricing.dto.ts
  frontend/src/app/core/models/dto/booking-summary.dto.ts
  frontend/src/app/core/models/dto/charging-station-availability.dto.ts
  frontend/src/app/core/models/requests/booking-create.request.ts
  frontend/src/app/core/services/payment.service.ts
  frontend/src/app/features/booking/booking-flow.html
  frontend/src/app/features/booking/booking-flow.ts
  frontend/src/app/features/booking/payment-modal/payment-modal.html
  frontend/src/app/features/booking/payment-modal/payment-modal.ts
  frontend/src/app/features/booking/services/booking-api.service.spec.ts
  frontend/src/app/features/booking/services/booking-api.service.ts
  frontend/src/app/features/booking/services/booking-pricing.service.ts
  frontend/src/app/features/map/charging-station-modal/charging-station-modal.html
  frontend/src/app/features/map/charging-station-modal/charging-station-modal.ts
  frontend/src/app/features/map/charging-station-modal/services/charging-station.store.ts
Due: frontend-pipeline

Path conditions:
  frontend-pipeline: any of: frontend/**/*
  backend-pipeline: any of: backend/**/*
