Repository Pololac/PowerMe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-pipeline, backend-pipeline

.gitlab-ci.yml:

stages:
  - trigger

variables:
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA

workflow:
  rules:
    - if: "$CI_COMMIT_BRANCH"
    #- when: never  # DÃ©sactive automatiquement

frontend-pipeline:
  stage: trigger
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - frontend/**/*
        - .gitlab/ci/pipeline-frontend.yml
        - .gitlab/ci/build-template.yml
        - .gitlab/ci/deploy-template.yml
    - if: '$CI_COMMIT_BRANCH == "dev"'
      changes:
        - frontend/**/*
        - .gitlab/ci/pipeline-frontend.yml
    - if: '$CI_COMMIT_BRANCH =~ /^feat\/.*/'
      changes:
        - frontend/**/*
  trigger:
    include: .gitlab/ci/pipeline-frontend.yml
    strategy: depend # Attend la fin du pipeline enfant

backend-pipeline:
  stage: trigger
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - backend/**/*
        - .gitlab/ci/pipeline-backend.yml
        - .gitlab/ci/build-template.yml
        - .gitlab/ci/deploy-template.yml
    - if: '$CI_COMMIT_BRANCH == "dev"'
      changes:
        - backend/**/*
        - .gitlab/ci/pipeline-backend.yml
    - if: '$CI_COMMIT_BRANCH =~ /^feat\/.*/'
      changes:
        - backend/**/*
  trigger:
    include: .gitlab/ci/pipeline-backend.yml
    strategy: depend # Attend la fin du pipeline enfant

fix(mail): add mailtrap to .env
  .gitlab/ci/pipeline-backend.yml
Due: backend-pipeline

fix(front-geocoding): CORS pb on MapTiler request (authInterceptor send a header "Authorization" ->not allowed by MapTiler API) Solution : add a condition to exclude external requests
  frontend/src/app/core/interceptors/auth-interceptor.ts
Due: frontend-pipeline

feat(auth-back): strengthen refreshCookie generation - declare RefreshCookieProps - config "samesite" & "secure" with applications.yml - define maxAge according to refreshTokenProps
  backend/src/main/java/com/powerme/PowermeApp.java
  backend/src/main/java/com/powerme/controller/AuthController.java
  backend/src/main/java/com/powerme/service/security/RefreshCookieProperties.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/application.yml
Due: backend-pipeline

fix(ci): optimize nginx.conf Docker (gzip)
  deploy/nginx.conf
Due: none

fix(ci): put full quality in GitHub -> to use SonarQube with IT tests -> lower "minutes" in Gitlab Pipeline - Sync when quality front et back OK + push ou PR sur main
  .github/workflows/quality-sync.yml
  .github/workflows/sync-to-gitlab.yml.OLD
  backend/pom.xml
Due: backend-pipeline

fix(ci): - add dorny reporter (+config Karma) - autorize sync with GitLab - config Sonar (pom.xml & pipeline)
  .github/workflows/quality-sync.yml
  backend/pom.xml
  frontend/karma.conf.js
  frontend/package-lock.json
  frontend/package.json
Due: frontend-pipeline, backend-pipeline

fix(ci): fix pb Dorny with permissions & desactivate tests in GitLab
  .github/workflows/quality-sync.yml
  .gitlab/ci/pipeline-backend.yml
  .gitlab/ci/pipeline-frontend.yml
Due: frontend-pipeline, backend-pipeline

fix(auth-front): ajout de la requete logout au backend + fix login ({ withCredentials: true })
  frontend/src/app/core/services/auth-service.ts
  frontend/src/app/shared/components/user-menu/user-menu-dropdown/user-menu-dropdown.ts
Due: frontend-pipeline

fix(ci): change "https" for "$scheme" for backend in nginx
  .github/workflows/sync-to-gitlab.yml.OLD
  deploy/nginx.conf
Due: none

fix(auth-back): small changes on cookieDomain & Refreshproperties
  backend/src/main/java/com/powerme/controller/AuthController.java
  backend/src/main/java/com/powerme/service/security/RefreshCookieProperties.java
  backend/src/main/java/com/powerme/service/security/SecurityConfig.java
Due: backend-pipeline

fix(tests): add postgis & cookie properties for RegisterIt
  backend/src/main/resources/db/migration/V1__create_tables.sql
  backend/src/test/java/com/powerme/config/AbstractIntegrationTest.java
  backend/src/test/java/com/powerme/integration/controller/RegisterIT.java
  backend/src/test/resources/application-test.yml
Due: backend-pipeline

fix(tests): add postgis & cookie properties for RegisterIt
  backend/src/test/java/com/powerme/PowermeApplicationIT.java
Due: backend-pipeline

fix(tests-front): pb logout method -> add subscribe()
  frontend/src/app/core/services/auth-service.spec.ts
Due: frontend-pipeline

fix(deploy): restore original Flyway V1 migration
  backend/src/main/resources/db/migration/V1__create_tables.sql
Due: backend-pipeline

fix(ci): add sonar.projectKet to pom.xml
  backend/pom.xml
Due: backend-pipeline

fix(ci): delete stage "test" in GitLab CI
  .gitlab/ci/pipeline-backend.yml
  .gitlab/ci/pipeline-frontend.yml
  backend/src/main/java/com/powerme/controller/BookingController.java
Due: frontend-pipeline, backend-pipeline

chore(front): sync package-lock.json after audit fix
  frontend/package-lock.json
Due: frontend-pipeline

fix(ci): - optimize quality tests : launch depends on folders - optimize Chrome setup : add "--browsers=ChromeHeadless" on "test:ci" - suppress errors 404 with fonts on quality-front
  .github/workflows/quality-sync.yml
  frontend/angular.json
  frontend/package.json
  frontend/src/styles.test.css
  frontend/test-results/junit.xml
Due: frontend-pipeline

fix(ci): pb with Chrome/Chromium launch
  .github/workflows/quality-sync.yml
  frontend/karma.conf.js
  frontend/package.json
Due: frontend-pipeline

fix(ci): pb Chrome fixed
  .github/workflows/quality-sync.yml
Due: none

chore(back): upgrade SB-starter-parent from 3.5.8 to 3.5.11
  backend/pom.xml
Due: backend-pipeline

chore(front): upgrade @angular dependencies from 20.2.0 to 20.3.17
  frontend/package-lock.json
  frontend/package.json
Due: frontend-pipeline

fix(ci): change for dynamic path for Chrome
  .github/workflows/quality-sync.yml
Due: none

fix(ci): test
  backend/pom.xml
  frontend/sonar-project.properties
Due: frontend-pipeline, backend-pipeline

chore(front): security upgrades
  backend/pom.xml
  frontend/package-lock.json
Due: frontend-pipeline, backend-pipeline

chore(front): upgrade Angular 20 to 21
  .github/workflows/quality-sync.yml
  .gitlab/ci/pipeline-frontend.yml
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/features/map/search-location/search-location.ts
  frontend/src/app/shared/components/review-card/review-card.html
  frontend/src/app/shared/components/review-card/review-card.ts
  frontend/src/app/shared/components/review-slider/review-slider.html
  frontend/src/app/shared/components/review-slider/review-slider.ts
  frontend/src/app/shared/components/user-menu/user-menu.spec.ts
  frontend/test-results/junit.xml
Due: frontend-pipeline

chore(front): fix pipeline Github frontend
  .github/workflows/quality-sync.yml
Due: none

chore(front): fix pipeline GitLab frontend (pb with "RUN npm ci")
  frontend/Dockerfile
Due: frontend-pipeline

chore(front): fix pipeline GitLab frontend (pb with "RUN npm ci") - add "RUN npm install -g npm@11" in Dockerfile
  frontend/Dockerfile
Due: frontend-pipeline

chore(front): add constraints on node & npm in package.json to avoid this error in the future
  frontend/package.json
Due: frontend-pipeline

chore(back): update Flyway from 11.7.2 to 11.8.1
  backend/pom.xml
Due: backend-pipeline

fix: frontend/Dockerfile to reduce vulnerabilities
  frontend/Dockerfile
Due: frontend-pipeline

fix(ci): fix sync pb with GitLab du to PR ref that GitHub tries to sync in Gitlab
  .github/workflows/quality-sync.yml
Due: none

chore(back): upgrade spring boot 3.5.11 to 3.5.12
  backend/pom.xml
Due: backend-pipeline

chore(back): upgrade SB to 3.5.13, Flyway core to 11.8.1 & Jackson-core to 2.21.1
  backend/pom.xml
Due: backend-pipeline

fic(ci): sync with GitLab only on push sur main if quality jobs are successful or skipped
  .github/workflows/quality-sync.yml
Due: none

fix: frontend/Dockerfile to reduce vulnerabilities (#78)
  frontend/Dockerfile
Due: frontend-pipeline

fix(ci): pb build frontend linked to promise-retry module (du to "RUN npm install -g npm@11 && npm ci" on the same line)
  README.md
  frontend/Dockerfile
Due: frontend-pipeline

fix(ci): pb build frontend linked to promise-retry module (du to "RUN npm install -g npm@11 && npm ci" on the same line)
  frontend/Dockerfile
Due: frontend-pipeline
